iframe[seamless]{
   background-color: transparent;
   border: 0px none transparent;
   padding: 0px;
   overflow: hidden;
}

body {
	background-image: URL(../images/ashtrees.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero-unit {
	padding-left:30px;
	padding-right:30px;
}

.hero-unit h1{
	font-size: 45px;
}


.white-background{
	background: white;
	background: rgba(255, 255, 255, 0.95);
	padding-top: 10px;
}

.white{
	background: white;
	background: rgb(255, 255, 255);
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right:20px;
}

header {
	background: white;
	background: rgb(255, 255, 255);
	padding-bottom: 10px;
	padding-top: 20px;
}

.footer{
	margin-bottom: 800px;
}

footer, .white-background {
	margin-top: 30px;
}


.border {
	border-style:solid;
	border-width:12px;
	border-color: #A9A9A9;
}

.border-thin {
	border-style:solid;
	border-width:1px;
	border-color: #A9A9A9;
}

.image-right {
	margin-left: 3em;
}

.video {
	margin-top: 1.5em;
}

a {
  color: #FF9900;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
}

a:hover {
  color: #66CC00;
  text-decoration: underline;
}

caption {
font-family: 'Dosis', sans-serif;
font-size: 15px;	
}

h1 {
  font-size: 25px;
  line-height: 36px;
  font-family: 'Overlock', cursive;
}

h1 small {
  	font-size: 18px;
}

h2 {
  margin-left: 20px;
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Overlock', cursive;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 18px;
  font-family: 'Overlock', cursive;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

p{
font-family: 'Dosis', sans-serif;
font-size: 20px;
line-height: 1.3em;
}

p.small {
  font-size: 14px;
  color: #999999;
}

.caption {
	font-size: 14px;
  	color: #999999;
  	margin-top: 10px;
}

p.note {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 21px;
	line-height: 1.5em;
	margin-top: 20px;
}

blockquote {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	margin: 10px;
	line-height: 1.3em;
}

.btn {
	margin: 3px;
	color:#FF9F40;
}

.horizontal_dotted_line 
{ 
border-bottom: 1px dotted #80c080; 
width: 100px; 
} 

.rotate {
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
}

.rotate-left {
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
}

.dropshadow {
	-moz-box-shadow: 5px 5px 2px #E0D8E0;
	-webkit-box-shadow: 5px 5px 2px #E0D8E0;
	box-shadow: 5px 5px 2px #E0D8E0;
}

.statement {
	font-family: 'The Girl Next Door', cursive;
	font-size: 2em;
	margin-top: 50px;
	line-height: 1.3em;
}

.instructions {
	margin-top: 50px;
	font-family:'The Girl Next Door', cursive;
	font-size: 1.3em;
	line-height: 1em;
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
}

ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: circle;
  list-style-image: url(URL);
}

ol {
  list-style: decimal;
}

li {
  line-height: 18px;
  font-family: 'Dosis', sans-serif; 
}
.span12 li {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
}

.span4 li {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	line-height: 28px;
}

.logo img {
	max-height: 80px;
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
}


.spacer {
	margin-top: 40px;
}

----------
.button{
width:100px;
height:100px;
display:block;
border-radius:50px;
-moz-border-radius:50px;
-webkit-border-radius:50px;
-khtml-border-radius:50px;
font-size:20px;
color:#FF0000;
line-height:100px;
text-align:center;
background:#000;
margin-bottom:20px;

}

.contact {
	background-color: #C0C0C0;
}

